body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}

#results img {
    max-width: 100%;
    margin-top: 20px;
}